@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
    --font-commissioner: "DM Sans", sans-serif;
}

@layer base {
    html {
        font-family: var(--font-commissioner);
        scroll-behavior: smooth;
    }
}

@theme {
    --color-neutral-900: #000000;
    /* --color-neutral-300: #dfdfdf;
    --color-neutral-200: #efefef;
    --color-neutral-100: #f5f5f5;
    --color-neutral-0: #ffffff; */
}

@layer utilities {
    .px-container {
        @apply px-4 md:px-6 lg:px-[10rem];
    }

    .gradient-fade {
        @apply absolute inset-0 w-full h-full;
        background: linear-gradient(
            180deg,
            #00000000 0%,
            #000000a6 100%
        );
    }

    .greadient-color {
        background: linear-gradient(
            53deg,
            #ffc593 0%,
            #bc7198 50%,
            #5a77ff 100%
        );
    }
}

@layer utilities {
    .text-1 {
        @apply text-[50px]/[120%] tracking-[4px] font-bold;
    }
    .text-2 {
        @apply text-[32px]/[125%] tracking-[3.5px] font-bold;
    }
    .text-3 {
        @apply text-[24px]/[105%] tracking-[0] font-bold;
    }
    .text-4 {
        @apply text-[18px]/[140%] tracking-[0] font-bold;
    }
    .text-5-bold {
        @apply text-[15px]/[135%] tracking-[2.5px] font-bold;
    }
    .text-5-regular {
        @apply text-[15px]/[165%] tracking-[0] font-normal;
    }
    .text-6-regular {
        @apply text-[13px]/[130%] tracking-[0] font-normal;
    }
    .text-7-bold {
        @apply text-[12px]/[135%] tracking-[2px] font-bold;
    }
}
